/** 自定义滚动条-工厂函数*/
@mixin scrollbar-theme-factory($frontColor, $backgroundColor, $radius) {
  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: $radius;
    overflow: hidden;
    outline: none;
    border: none;
  }
  &::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background-color: $frontColor;
    outline: none;
    border: none;
  }
  
  &::-webkit-scrollbar-track-piece,
  ::-webkit-scrollbar-track-piece {
    border-radius: $radius;
    background-color: $backgroundColor;
    outline: none;
    border: none;
  }
  
  &::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-corner {
    background-color: transparent;
    outline: none;
    border: none;
  }
}